/* Add CSS Styling */
button {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.button_1 {
  background-color: black;
  color: white;
}
.button_2 {
  background-color: yellow;
}
